<h1><%= @tape['name'] %></h1>
<div>
  <h2>side A</h2>
  <ol>
    <% @tape['side_a']['tracks'].each do |track| %>
      <li><%= track['name'] %> (<%= track['ticks'] %>)</li>
    <% end %>
  </ol>
</div>
<div>
  <h2>side B</h2>
  <ol>
    <% @tape['side_b']['tracks'].each do |track| %>
      <li><%= track['name'] %> (<%= track['ticks'] %>)</li>
    <% end %>
  </ol>
</div>
