<h1><%= @tape['name'] %></h1>
<div>
  <a href="/tapes/<%= @tape['name'] %>/uploads/new">upload</a>
</div>
<div>
  <a href="/tapes">back</a>
</div>
<div>
  <h2 class="side">side A</h2>
  <div class="side_status"><%= side_a_status %></div>
  <ol>
    <% @tape['side_a']['tracks'].each do |track| %>
      <li><%= track["nice_name"] %> (<%= track['ticks'] %>)</li>
    <% end %>
  </ol>
</div>
<div>
  <h2 class="side">side B</h2>
  <div class="side_status"><%= side_b_status %></div>
  <ol>
    <% @tape['side_b']['tracks'].each do |track| %>
      <li><%= track["nice_name"] %> (<%= track['ticks'] %>)</li>
    <% end %>
  </ol>
</div>
