<h1><%= @tape['name'] %></h1>
<h2><a href="/tapes/<%= @tape['name'] %>/uploads/new">upload</a></h2>
<div>
  <h2>side A<%= side_a_status %></h2>
  <ol>
    <% @tape['side_a']['tracks'].each do |track| %>
      <li><%= track['name'] %> (<%= track['ticks'] %>)</li>
    <% end %>
  </ol>
</div>
<div>
  <h2>side B<%= side_b_status %></h2>
  <ol>
    <% @tape['side_b']['tracks'].each do |track| %>
      <li><%= track['name'] %> (<%= track['ticks'] %>)</li>
    <% end %>
  </ol>
</div>
