<h1><%= @tape['name'] %></h1>
<h2><a href="/tapes/<%= @tape['name'] %>/uploads/new">upload</a>
<div>
  <h2>side A <%= if @tape['side_a']['complete'] then "(complete)" else "(#{@queued_count} queued)" end %></h2>
  <ol>
    <% @tape['side_a']['tracks'].each do |track| %>
      <li><%= track['name'] %> (<%= track['ticks'] %>)</li>
    <% end %>
  </ol>
</div>
<div>
  <h2>side B <%= if @tape['side_b']['complete'] then "(complete)" else "(#{@queued_count} queued)" end %></h2>
  <ol>
    <% @tape['side_b']['tracks'].each do |track| %>
      <li><%= track['name'] %> (<%= track['ticks'] %>)</li>
    <% end %>
  </ol>
</div>
